<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wkart">

    <!-- Permission to access the internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission to access network state (optional) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- UPI payment permission (optional, for specific functionality) -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- For certain UPI apps like PhonePe -->

    <uses-permission android:name="android.permission.BILLING" />

    <queries>
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="net.one97.paytm" />
        <package android:name="com.phonepe.app" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wkart"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">



        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Wkart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
